@import "src/colors";

:host {
  background-color: $dark-green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.reset-btn {
  font: inherit;
  font-weight: 700;
  color: $dark-green;
  background-color: $light-green;
  margin-top: auto;
  border-radius: 5px;
  padding: 2px 0;
  border: none;

  &[disabled] {
    opacity: 0.2;
  }
}
