<div class="input-wrapper">
  <label class="title" for="bill">Bill</label>
  <div class="input-container">
    <span class="icon">$</span>
    <input
        placeholder="0"
        class="input"
        id="bill"
        type="text"
        inputmode="numeric"
        (keyup)="updateBillData('bill', billInput.value)"
        #billInput>
  </div>
</div>
<div class="select-tip-wrapper">
  <span class="title">Select Tip %</span>
  <div class="tips-wrapper">
    <span class="tip" [class.active]="billData.tip === tip.tipAmount && !isCustom" *ngFor="let tip of tips"
          (click)="updateBillData('tip', tip.tipAmount); isCustom = false">{{tip.displayTip}}%</span>
    <span class="tip custom" *ngIf="!isCustom; else customize" (click)="toggle()">Custom</span>
    <ng-template #customize>
      <span [class.active]="isCustom" class="tip custom-tip-wrapper" (click)="toggle()">
        <input class="custom-tip-input" type="text" inputmode="numeric" (click)="$event.stopPropagation()"
               (keyup)="updateBillData('tip', +tipInput.value/100)" #tipInput>
      </span>
    </ng-template>
  </div>
</div>
<div class="input-wrapper">
  <label class="title" for="people">Number od People</label>
  <div class="input-container">
    <img class="person" src="/assets/images/person_black_18dp.svg" alt="person">
    <input
        placeholder="0"
        class="input"
        id="people"
        type="text"
        inputmode="numeric"
        (keyup)="updateBillData('people', peopleInput.value)"
        #peopleInput>
  </div>
</div>

